body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  background-color: #00aaff;
  border-color: #00aaff;
  font-weight: 600;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #0080ff;
  border-color: #0080ff;
}

.text-primary {
  color: #00aaff !important;
}

.text-secondary {
  color: #53ce48 !important;
}

.bg-primary {
  background-color: lightgray !important;
}